ModernClient/Service References/WCFCommunicator/item32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Calculator.Calculation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calculator.Calculation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DBAccess" />
  <xs:complexType name="ArrayOfCalculationOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalculationOrder" nillable="true" type="tns:CalculationOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalculationOrder" nillable="true" type="tns:ArrayOfCalculationOrder" />
  <xs:complexType name="CalculationOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="InstrumentName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q1:ArrayOffloat" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBAccess" minOccurs="0" name="Period" type="q2:TimePeriods" />
      <xs:element minOccurs="0" name="Status" type="tns:CalculationOrderStatus" />
      <xs:element minOccurs="0" name="StopLoss" type="xs:float" />
      <xs:element minOccurs="0" name="TotalBalance" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationOrder" nillable="true" type="tns:CalculationOrder" />
  <xs:simpleType name="CalculationOrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CalculationOrderStatus" nillable="true" type="tns:CalculationOrderStatus" />
  <xs:complexType name="CalculationResult">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Balances" nillable="true" type="q3:ArrayOffloat" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutData" nillable="true" type="q4:ArrayOfArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutDataDescription" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationResult" nillable="true" type="tns:CalculationResult" />
</xs:schema>