ModernClient/Service References/WCFCommunicator/WCFCommunicator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFCommunicator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModernServer.WCFEntities" />
      <xsd:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DBAccess" />
      <xsd:import schemaLocation="http://localhost:777/ModernServer/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Calculator.Calculation" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFCommunicator_GetActualizedInstruments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActualizedInstruments" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetActualizedInstruments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActualizedInstrumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetAvaliableStrategies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvaliableStrategies" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetAvaliableStrategies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvaliableStrategiesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetRemoteCalculationsInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteCalculationsInfo" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetRemoteCalculationsInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteCalculationsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_AddRemoteCalculation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRemoteCalculation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_AddRemoteCalculation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRemoteCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_RemoveRemoteCalculation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRemoteCalculation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_RemoveRemoteCalculation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRemoteCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_AddOrderToRemoteCalulation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderToRemoteCalulation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_AddOrderToRemoteCalulation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderToRemoteCalulationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_AddOrdersToRemoteCalulation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrdersToRemoteCalulation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_AddOrdersToRemoteCalulation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrdersToRemoteCalulationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_StartRemoteCalculation_InputMessage">
    <wsdl:part name="parameters" element="tns:StartRemoteCalculation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_StartRemoteCalculation_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartRemoteCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_StopRemoteCalculation_InputMessage">
    <wsdl:part name="parameters" element="tns:StopRemoteCalculation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_StopRemoteCalculation_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopRemoteCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetFinishedOrdersForRemoteCalculation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedOrdersForRemoteCalculation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetFinishedOrdersForRemoteCalculation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedOrdersForRemoteCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetFinishedOrderResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedOrderResult" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetFinishedOrderResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedOrderResultResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetWaitingOrdersForRemoteCalculation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitingOrdersForRemoteCalculation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetWaitingOrdersForRemoteCalculation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitingOrdersForRemoteCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetFinishedOrdersCountForRemoteCalculation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedOrdersCountForRemoteCalculation" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetFinishedOrdersCountForRemoteCalculation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinishedOrdersCountForRemoteCalculationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetStrategyParametersDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategyParametersDescription" />
  </wsdl:message>
  <wsdl:message name="IWCFCommunicator_GetStrategyParametersDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStrategyParametersDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFCommunicator">
    <wsdl:operation name="GetActualizedInstruments">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetActualizedInstruments" message="tns:IWCFCommunicator_GetActualizedInstruments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetActualizedInstrumentsResponse" message="tns:IWCFCommunicator_GetActualizedInstruments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvaliableStrategies">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetAvaliableStrategies" message="tns:IWCFCommunicator_GetAvaliableStrategies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetAvaliableStrategiesResponse" message="tns:IWCFCommunicator_GetAvaliableStrategies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemoteCalculationsInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetRemoteCalculationsInfo" message="tns:IWCFCommunicator_GetRemoteCalculationsInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetRemoteCalculationsInfoResponse" message="tns:IWCFCommunicator_GetRemoteCalculationsInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRemoteCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/AddRemoteCalculation" message="tns:IWCFCommunicator_AddRemoteCalculation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/AddRemoteCalculationResponse" message="tns:IWCFCommunicator_AddRemoteCalculation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRemoteCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/RemoveRemoteCalculation" message="tns:IWCFCommunicator_RemoveRemoteCalculation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/RemoveRemoteCalculationResponse" message="tns:IWCFCommunicator_RemoveRemoteCalculation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderToRemoteCalulation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/AddOrderToRemoteCalulation" message="tns:IWCFCommunicator_AddOrderToRemoteCalulation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/AddOrderToRemoteCalulationResponse" message="tns:IWCFCommunicator_AddOrderToRemoteCalulation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrdersToRemoteCalulation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/AddOrdersToRemoteCalulation" message="tns:IWCFCommunicator_AddOrdersToRemoteCalulation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/AddOrdersToRemoteCalulationResponse" message="tns:IWCFCommunicator_AddOrdersToRemoteCalulation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartRemoteCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/StartRemoteCalculation" message="tns:IWCFCommunicator_StartRemoteCalculation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/StartRemoteCalculationResponse" message="tns:IWCFCommunicator_StartRemoteCalculation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopRemoteCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/StopRemoteCalculation" message="tns:IWCFCommunicator_StopRemoteCalculation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/StopRemoteCalculationResponse" message="tns:IWCFCommunicator_StopRemoteCalculation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinishedOrdersForRemoteCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetFinishedOrdersForRemoteCalculation" message="tns:IWCFCommunicator_GetFinishedOrdersForRemoteCalculation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetFinishedOrdersForRemoteCalculationResponse" message="tns:IWCFCommunicator_GetFinishedOrdersForRemoteCalculation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinishedOrderResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetFinishedOrderResult" message="tns:IWCFCommunicator_GetFinishedOrderResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetFinishedOrderResultResponse" message="tns:IWCFCommunicator_GetFinishedOrderResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaitingOrdersForRemoteCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetWaitingOrdersForRemoteCalculation" message="tns:IWCFCommunicator_GetWaitingOrdersForRemoteCalculation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetWaitingOrdersForRemoteCalculationResponse" message="tns:IWCFCommunicator_GetWaitingOrdersForRemoteCalculation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinishedOrdersCountForRemoteCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetFinishedOrdersCountForRemoteCalculation" message="tns:IWCFCommunicator_GetFinishedOrdersCountForRemoteCalculation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetFinishedOrdersCountForRemoteCalculationResponse" message="tns:IWCFCommunicator_GetFinishedOrdersCountForRemoteCalculation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStrategyParametersDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCommunicator/GetStrategyParametersDescription" message="tns:IWCFCommunicator_GetStrategyParametersDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCommunicator/GetStrategyParametersDescriptionResponse" message="tns:IWCFCommunicator_GetStrategyParametersDescription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFCommunicator" type="tns:IWCFCommunicator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActualizedInstruments">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetActualizedInstruments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvaliableStrategies">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetAvaliableStrategies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemoteCalculationsInfo">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetRemoteCalculationsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRemoteCalculation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/AddRemoteCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRemoteCalculation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/RemoveRemoteCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderToRemoteCalulation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/AddOrderToRemoteCalulation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrdersToRemoteCalulation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/AddOrdersToRemoteCalulation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRemoteCalculation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/StartRemoteCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopRemoteCalculation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/StopRemoteCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinishedOrdersForRemoteCalculation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetFinishedOrdersForRemoteCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinishedOrderResult">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetFinishedOrderResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaitingOrdersForRemoteCalculation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetWaitingOrdersForRemoteCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinishedOrdersCountForRemoteCalculation">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetFinishedOrdersCountForRemoteCalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrategyParametersDescription">
      <soap:operation soapAction="http://tempuri.org/IWCFCommunicator/GetStrategyParametersDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFCommunicator">
    <wsdl:port name="BasicHttpBinding_IWCFCommunicator" binding="tns:BasicHttpBinding_IWCFCommunicator">
      <soap:address location="http://localhost:777/ModernServer/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>